[Unit]
Description=Monday
After=network.target

[Service]
TimeoutStartSec=5
#User=prior
WorkingDirectory=/home/prior/applications/monday/
ExecStart=/home/prior/applications/monday/node-v{{ node_version }}-linux-x64/bin/node server serve --config-file config.yml
TimeoutStopSec=10
Restart=always
RestartSec=10

[Install]
WantedBy=multi.target
